body {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    align-items: center;
}
.chat-container {
    display: flex;
    flex-direction: column;
    /*align-items: to;*/
    /*justify-content: center;*/
    width: 500px;
    height: 500px;
    background-color: black;
    border: aquamarine 3px solid;
}
.chat-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    border-bottom: aquamarine 3px solid;
}
.chat-input {
    margin-left: 5px;
    height: 75%;
    width: 50%;
    border: none;
    outline: none;
    background-color: #191919;
    color: #e9e9e9;
}
.chat-submit {
    border: none;
    height: 75% !important;
    width: 20% !important;
    margin-right: 5px;
    outline: none;
    background-color: aquamarine;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.chat-submit:hover {
    background-color: #e9e9e9 !important;
    /*color: black !important;*/
}
.button {
    border: none;
    outline: none;
    background-color: aquamarine;
    height: 40px;
    width: 506px;
    border-radius: 5px;
}
.button:hover {
    background-color: #191919;
    color: #e9e9e9;
}
.messages {
    height: 90%;
    width: 100%;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.message-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.message-container.client {
    justify-content: flex-start;
}
.message-container.server {
    justify-content: flex-end;
}
.message {
    min-width: 30px;
    max-width: 40%;
    min-height: 20px;
    background-color: aquamarine;
    margin: 5px 10px 5px 10px;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
}
.sender {
    color: white;
    font-size: 12px;
    margin: 5px 3px 5px 3px;
}

.hidden {
    display: none !important;
}
.response-message {
    color: #e9e9e9;
    text-align: center;
}

.no-active {
    background-color: #e9e9e9;
    cursor: auto;
}
.geolocation {
    color: #191919;
}
.open-geolocation {
    width: 150px !important;
    height: 30px !important;
    text-align: center;
}

